*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", serif;
}
html, body {
  overflow-x: hidden;
}
ul li{
  list-style-type: none;
}
a{
  color: black;
  text-decoration: none;
}

nav{
  background: #1C1E53;
  padding: 16px 0px !important;
}
ul .nav-link{
  color: #F4F6FC;
  margin-right: 32px;
}

ul .nav-link:hover{
  color: #FCD980;
}
.active{
  color: #ffff !important;
  font-weight: 600;
}

nav .btn{
  color: white;
  padding: 16px 48px;
  border-radius: 41px;
  border: 2px solid #F4F6FC;
  margin-left: 48px;
}
nav .btn:hover{
  color: #282938;
  background: #FCD980;
  border: 2px solid #FCD980;
}
nav .btn a{
  color: white;
}
nav .btn:hover{
  color: #282938;
  background: #FCD980;
  border: 2px solid #FCD980;
}
nav .btn:hover a{
  color: #282938;
}

#hero{
  background: #1C1E53;
  color: white;
  padding: 126px 0px;

}

#hero h1{
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
  max-width: 582px;
}
#hero p{
  line-height: 28px;
  margin-top: 24px;
  margin-bottom: 48px;
  max-width: 562px;
}

#hero button{
  background: #FCD980;
  color: #1B1C2B;
  padding: 16px 56px;
  border-radius: 41px;
  border: 1px solid #FCD980;
  font-weight: 600;
}
#hero button a{
  margin: 0 auto;
  color: #1B1C2B;
  font-weight: 600;
}
#hero button:hover{
  background: transparent;
  color: white;
  padding: 16px 56px;
  border-radius: 41px;
  border: 1px solid #FCD980;
  font-weight: 600;
}
#hero button:hover a{
  color: white;
}

#companies{
  padding: 96px 0;
}
#companies h2{
  color: #282938;
  font-size: 38px;
  line-height: 56px;
  font-weight: 600;
  margin-bottom: 0;
}
#companies p{
  color: #282938;
  font-size: 16px;
  line-height: 28px;
  opacity: 70%;
}

#benifits {
  padding: 128px 0;
  padding-bottom: 48px;
  color: #282938;
}
#benifits h2 {
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  max-width: 630px;
  margin: 0 auto;
  margin-top: 12px;
  margin-bottom: 47px;
}
#benifits .item {
  max-width: 415px;
  padding: 48px;
  background: #F4F6FC;
  box-shadow: 0px 4px 4px 0px hwb(0 0% 100% / 0.253);
  cursor: pointer;
}
#benifits .item:hover {
  box-shadow: 0px 15px 15px 0px hwb(0 0% 100% / 0.253);
  transition: 0.5s;
}
#benifits .item h3 {
  margin-top: 22px;
  margin-bottom: 12px;
}
#benifits .item p {
  line-height: 28px;
  opacity: 70%;
  max-width: 324px;
}

#support {
  padding: 128px 0;

}
#revision{
  background: #F4F6FC;
  padding-top: 128px;
  padding-bottom: 128px;
  margin-top: 128px;
  margin-bottom: 128px;
}
#delivery{
  background: rgba(252, 217, 128, 0.103);
  padding-top: 128px;
  padding-bottom: 128px;
  margin-bottom: 0;
}
#supp{
  padding-bottom: 128px;
}
#support p {
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  font-weight: 500;
  margin-bottom: 0px;
}
#support h2 {
  font-size: 38px;
  line-height: 56px;
  color: #282938;
  font-weight: 600;
  margin: 16px 0;
}
#support .p {
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  font-weight: 400;
  opacity: 70%;
}


#faq{
  height: 550px;
}
#faq .left h2{
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  color: #282938;
  margin-bottom: 16px;
}
#faq .left a{
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #2405F2;
}


#faq .right .accordion{
  border: none !important;
}

#faq .right .accordion .accordion-item{
  border: none !important;
}

#faq .right .accordion .accordion-item .accordion-header .accordion-button{
  border: none !important;
  background: transparent;
}
#faq .right .accordion .accordion-item .accordion-header .accordion-button span{
  color: #2405F2;
  font-size: 24px;
  font-weight: 500;
  margin-right: 59px;
}


#footer{
  padding-top: 96px;
  background: #1C1E53;
  color: white;
}
#footer .col-lg-5 p{
  margin-top: 24px;
}


#footer .contact{
  background: #FCD980;
  color: #1B1C2B;
  padding: 16px 37px;
  margin-top: 86px;
}
#footer .contact .mail{
margin-right: 29px;
}
#footer .contact h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #282938;
}
#footer .contact p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #282938;
  opacity: 80%;
  margin-top: 0px;

}

#footer .right h2{
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
#footer .right p{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 80%;
  margin-top: 14px;
  margin-bottom: 28px;
  width: 399px;
}
#footer .right i{
  margin-right: 27px;
}

#footer .footer-bottom{
  background: white;
  color: #282938;
  padding: 32px 0;
}
#footer .footer-bottom ul li{
  margin-right: 32px;
}