*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: "Poppins", serif;
}
html, body {
  overflow-x: hidden;
}
ul li{
  list-style-type: none;
}
a{
  color: black;
  text-decoration: none;
}

nav{
  background: #1C1E53;
  padding: 16px 0px !important;
}
ul .nav-link{
  color: #F4F6FC;
  margin-right: 32px;
}

ul .nav-link:hover{
  color: #FCD980;
}
.active{
  color: #ffff !important;
  font-weight: 600;
}

nav .btn{
  color: white;
  padding: 16px 48px;
  border-radius: 41px;
  border: 2px solid #F4F6FC;
  margin-left: 48px;
}
nav .btn:hover{
  color: #282938;
  background: #FCD980;
  border: 2px solid #FCD980;
}

#faq{
  height: 550px;
}
#faq .left h2{
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  color: #282938;
  margin-bottom: 16px;
}
#faq .left a{
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #2405F2;
}

#plans{
  padding: 128px 0;
}
#plans .details h1{
  color: #282938;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
#plans .details p{
  color: #282938;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  max-width: 562px;
  margin: 0 auto;
  opacity: 70%;
  margin-top: 16px;
  margin-bottom: 64px;
}
#plans .col-lg-4{
  width: 406px;
  height: 745px;
  background: #F4F6FC;
  color: #282938;
  border-radius: 12px;
  padding-left: 48px;
  padding-top: 64px;
  padding-bottom: 62px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.226);
  position: relative;
  transition-duration: 1s;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
}

#plans .price h2{
  color: #282938;
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
}
#plans .price p{
  color: #2405F2;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin-left: 8px;
}
#plans h3{
  color: #282938;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 8px;
}
#plans .p{
  color: #282938;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  margin-bottom: 78px;
}
#plans ul{
  margin-bottom: 79px;
}
#plans ul li{
  margin-bottom: 20px;
  color: #282938;
  margin-left: 12px;
  position: relative;
}
#plans ul li:after{
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 18px solid #97DAAD;
  left: -42px;
  top: 0;
}

#plans ul .disable{
  position: relative;
  opacity: 70%;
}
#plans ul .disable:after{
  content: "";
  position: absolute;
  width: 0; 
  height: 0; 
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 18px solid #9A9CA1;
  left: -42px;
  top: 0;
}
#plans .col-lg-4:hover{
  background: #1C1E53 ;
  color: white;
}
#plans .col-lg-4:before{
  content: "";
  position: absolute;
  width: 100%;
  height: 0%;
  border-radius: 30%;
  background: rgba(255, 255, 255, 0.055);
  bottom: -100px;
  left: 0;
  transition-duration: 1s;
  z-index: -1;
}
#plans .col-lg-4:hover h2{
  color: white ;
}
#plans .col-lg-4:hover p{
  color: #FCD980 ;
}
#plans .col-lg-4:hover .p{
  color: white ;
  opacity: 70%;
}
#plans .col-lg-4:hover h3{
  color: white ;
}
#plans .col-lg-4:hover ul li{
  color: white ;
}

#plans .col-lg-4:hover:before{
  left: 0;
  bottom: -500px;
  height: 100%;

}
#plans .col-lg-4:hover button{
  color: #282938;
  background: #FCD980;
  border: 2px solid #FCD980;
}

#plans button{
  color: white;
  padding: 16px 48px;
  border-radius: 41px;
  background: #282938;
  border: 2px solid #282938;
  margin-left: 48px;
}

#plans .col-lg-4:hover  button:hover{
  color: white;
  padding: 16px 48px;
  border-radius: 41px;
  background: transparent;
  border: 2px solid #FCD980;
}


#faq .right .accordion{
  border: none !important;
}

#faq .right .accordion .accordion-item{
  border: none !important;
}

#faq .right .accordion .accordion-item .accordion-header .accordion-button{
  border: none !important;
  background: transparent;
}
#faq .right .accordion .accordion-item .accordion-header .accordion-button span{
  color: #2405F2;
  font-size: 24px;
  font-weight: 500;
  margin-right: 59px;
}

#footer{
  padding-top: 96px;
  background: #1C1E53;
  color: white;
}
#footer .col-lg-5 p{
  margin-top: 24px;
}


#footer .contact{
  background: #FCD980;
  color: #1B1C2B;
  padding: 16px 37px;
  margin-top: 86px;
}
#footer .contact .mail{
margin-right: 29px;
}
#footer .contact h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #282938;
}
#footer .contact p {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #282938;
  opacity: 80%;
  margin-top: 0px;

}

#footer .right h2{
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
}
#footer .right p{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  opacity: 80%;
  margin-top: 14px;
  margin-bottom: 28px;
  width: 399px;
}
#footer .right i{
  margin-right: 27px;
}

#footer .footer-bottom{
  background: white;
  color: #282938;
  padding: 32px 0;
}
#footer .footer-bottom ul li{
  margin-right: 32px;
}